.settings{
    width: 35%;
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.384);
    backdrop-filter: blur(8px);
    border: 1px solid #ffffff48;
    margin-left: 10px;
    border-radius: 10px;
    padding: 20px;
}

