.Browser{
    margin-left: 10px;
    border: 2px solid #ffffff48;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70vh;

}
.maximized-Browser{
    width: calc(100vw - 40px);
    height: calc(100vh -  40px);
}